<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lil' Bits</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div id ="wrapper">
      <header>Lil' Bits</header>
      <nav>
        <ul>
          <li>
            <a href="/">Transactions</a>
          </li>
          <li>
            <a href = "/transactions/new/">Add Transaction</a>
          </li>
          <li>
            <a href= "/merchants/">Merchants</a>
          </li>
          <li>
            <a href="/merchants/new">Add Merchant</a>
          </li>
          <li>
            <a href="/tags/">Tags</a>
            </li>
          <li>
            <a href="/tags/new">Add Tag</a>
          </li>
        </ul>
      </nav>
      <div id ="user_info">
        <h3><%=@@user.full_name%></h3>
        <p>Budget: £<%=@@user.pretty_budget %></p>
        <p>Total Spent: £<%=@@total %></p>
        <p>Remaining Budget: £<%=sprintf("%.2f",@@remaining_budget)%></p>
        <a href="/users/">Change User</a>
      </div>
      <main id ="content">
        <%= yield %>
      </main>
    </div>
  </body>
  <footer>&copyLil' Bits 2019</footer>
</html>
