<h1><%=@merchant.name().capitalize%> </h1>
<h3>Total Spent: £<%=sprintf("%.2f",@total)%></h3>

<% @transactions.each do |transaction| %>
  <p><%= transaction.merchant.name.capitalize() %></p>
  <p>£<%= sprintf("%.2f",transaction.amount())%>
    <form method="get" action="/transactions/<%= transaction.id %>/edit">
      <input type="submit" value="Edit Transaction"/>
    </form>
    <form method="post" action="/transactions/<%= transaction.id %>/delete">
      <input type="submit" value="Delete Transaction"/>
    </form>
  </p>
  <hr />
<% end %>
