<h1>All tags:</h1>

<% @tags.each do |tag| %>
  <p><a href="/tags/<%=tag.id%>/"><%= tag.tag_type().capitalize %></a>
  <%tag.transaction.each{|transaction|@total+=transaction.amount}%>
    <h3>Total Spent: £<%=sprintf("%.2f",@total)%></h3>
    <form method="get" action="/tags/<%= tag.id %>/edit">
      <input type="submit" value="Edit Tag"/>
    </form>
    <form method="post" action="/tags/<%=tag.id%>/delete">
      <input type="submit" value="Delete Tag">
    </form>
  </p>
  <hr />
<% end %>
